
.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.box {
  height: 20rem;
  width: 40rem;
  background-color: #6a93d09f;
  position: absolute;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.logo {
  height: 10rem;
  width: 20rem;

  margin-top: 10rem;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 

}

.signin-content {
  position: relative;
 
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}


/* ul */
.nav-style {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.items {
  float: left;
}

.items a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.items a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #04AA6D;
}
