
.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.box {
  height: 20rem;
  width: 40rem;
  background-color: #6a93d09f;
  position: absolute;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.logo {

  height: 10rem;
  width: 20rem;

  margin-top: 10rem;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 

}

.signin-content {
  position: relative;
 
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

