
.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.box {
  height: 20rem;
  width: 40rem;
  background-color: #6a93d09f;
  position: absolute;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.logo {
  height: 10rem;
  width: 20rem;

  margin-top: 10rem;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 

}

.signin-content {
  position: relative;
 
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}


/* ul */
.nav-style {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.items {
  float: left;
}

.items a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.items a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #04AA6D;
}

/* box or card for find */

.box-tech {
  height: 200px;

  border-radius: 5px;
  
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);

}



.bus-types .col:hover{
  transform: translateY(-1.2rem) scale(1.01);
}

/* Connect home */


.top-right {
  position: relative;
  top: 70px;
  /* float: right; */
  right: 16px;
  /* color: #04AA6D; */
  font-weight: 800;


}

.banner {
  width: 100%;
  height: 500px;
  background-image: url(../src//public/coffee.png);
  background-size:cover ;
}

.loading {
  position: absolute;
 
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);


}

.b-container {
  width: 100%;
}

.b-container .btn-go {
  width: 220px;
  position: absolute;
  top: 70%;
  left: 76%;
  transform: translate(-50%, -50%);
  /* -ms-transform: translate(-50%, -50%); */
  background-color: #0bd3f1;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}

.b-container .btn-go:hover {
  background-color: #16555f;
}

/* visit banner */
.visit {
  height: 250px;
  background-color: #789FDA;
}

/* recommendation */

.recomendation-img{
 /* background-color: rebeccapurple; */
  position: relative;


  height: 100%;
  width: 100%;



}

.site-footer {
  height: 200px;
  background-color: #111;
  padding: 20px 0;
}

/* link styles */
.link-opt{
  text-decoration: none;
  color: #ffff;
}

.link-opt :hover {
  color: #ffff;
}

/* Find deal by business type */
/* technology */
.tech{
  background: rgb(15,110,189);
  background: linear-gradient(137deg, rgba(15,110,189,1) 25%, rgba(4,71,126,1) 71%); 
}
.agro{
  background: rgb(0,17,36);
  background: linear-gradient(319deg, rgba(0,17,36,1) 0%, rgba(81,193,189,1) 0%, rgba(127,162,128,1) 0%, rgba(46,145,99,1) 0%, rgba(5,136,85,1) 9%, rgba(142,197,138,1) 41%);
}

.food-drink{
  background: rgb(197,138,138);
  background: linear-gradient(137deg, rgba(197,138,138,1) 20%, rgba(215,69,69,1) 77%); 
}